.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: fadeIn 0.3s ease-out;
    max-height: 80vh; /* Set maximum height for the modal */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }
  
  .modal h2 {
    color: #2e7d32;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
  }
  
  .modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .modal ul li {
    background-color: #f1f8e9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #388e3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal ul li button {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal ul li button:hover {
    background-color: #d32f2f;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #388e3c;
  }
  
  button.close-modal {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  button.close-modal:hover {
    background-color: #d32f2f;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  